:root {
  --mobile-size: 375px;
  --desktop-size: 1440px;

  --active-input-border: linear-gradient(to right,hsl(249, 99%, 64%),hsl(278, 94%, 30%));
  --input-error: hsl(0, 100%, 66%);

  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

.hidden {
  display: none !important;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;

  font-family: "Space Grotesk", monospace;
}

.page {
  margin: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "card   form";
}

/* Card Container Styles */
.card-container {
  grid-area: card;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.card-container .background {
  grid-column: 1 / 6;
  grid-row: 1 / 3;
  height: 100%;
  background: url(../images/bg-main-desktop.png) no-repeat;
  background-size: cover;
}

/* Card front style */
.card-container .card-front {
  z-index: 3;
  position: relative;
  grid-column: 3 / 8;
  grid-row: 1 / 2;
}
.card-container .card-front .card-front-content {
  position: absolute;
  bottom: 20px;
  background: url(../images/bg-card-front.png) no-repeat;
  background-size: contain;
}
.card-container .card-front .card-front-content img {
  visibility: hidden;
}
.card-container .card-front .card-front-details {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-rows: 60% 20% 20%;
}
.card-container .card-front .card-style {
  z-index: 2;
  padding: 0 30px 30px 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.card-container .card-front #circle-1 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: var(--white);
}
.card-container .card-front #circle-2 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid var(--white);
}
.card-container .card-front .card-number {
  margin: 0;
  text-align: center;
  color: var(--white);
  font-weight: 500;
  font-size: 35px;
  height: 100%;
  width: 100%;
}
.card-container .card-front .card-info {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-container .card-front .card-info span {
  color: var(--white);
  font-size: 18px;
  height: 100%;
  width: 100%;
}
.card-container .card-front .card-info .card-name {
  text-align: left;
  text-transform: uppercase;
}
.card-container .card-front .card-info .card-exp-date {
  text-align: right;
}

/* Card back style */
.card-container .card-back {
  z-index: 2;
  grid-column: 4 / 9;
  grid-row: 2 / 3;

  position: relative;
}
.card-container .card-back .card-back-content {
  position: absolute;
  top: 20px;
  background: url(../images/bg-card-back.png) no-repeat;
  background-size: contain;
}
.card-container .card-back .card-back-content p {
  position: absolute;
  top: 95px;
  right: 60px;
  color: var(--white);
}

/* Form info card styles */
.form-section {
  grid-area: form;
  display: flex;
  align-items: center;
}
.form-section form {
  margin-left: 20%;
  width: 60%;
}
.form-section .error-form {
  display: block;
  margin-top: 4px;
  height: 20px;
  color: var(--input-error);
  font-size: 14px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.form-section #form-name,
.form-section #form-card-number,
.form-section #form-exp-date__mm,
.form-section #form-exp-date__yy,
.form-section #form-cvc {
  font-family: "Space Grotesk", monospace;
  font-size: 18px;
  padding: 14px;
  margin-top: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
}
.form-section #form-name:focus,
.form-section #form-card-number:focus,
.form-section #form-exp-date__mm:focus,
.form-section #form-exp-date__yy:focus,
.form-section #form-cvc:focus {
  border-image-source: var(--active-input-border);
  border-width: 1px;
  border-image-slice: 1;
}
.form-section #form-name.error,
.form-section #form-card-number.error,
.form-section #form-exp-date__mm.error,
.form-section #form-exp-date__yy.error,
.form-section #form-cvc.error {
  padding: 14px;
  border: 1px solid var(--input-error);
}
.form-section #form-name,
.form-section #form-card-number {
  width: 100%;
}
.form-section #form-exp-date__mm,
.form-section #form-exp-date__yy {
  width: 45%;
}
.form-section #form-exp-date__mm {
  margin-right: 8px;
}
.form-section #form-cvc {
  width: 100%;
}
.form-section .details-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-section .form-submit {
  font-family: "Space Grotesk", monospace;
  font-size: 18px;
  width: 100%;
  background-color: var(--very-dark-violet);
  color: white;
  padding: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.complete {
  grid-area: form;
  display: flex;
  align-items: center;
  justify-content: center;
}
.complete .complete-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.complete .complete-content div {
  height: 80px;
  width: 80px;
  background-image: url(../images/icon-complete.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.complete .complete-content h1 {
  margin: 10px;
  color: var(--very-dark-violet);
  font-size: 36px;
}
.complete .complete-content p {
  margin-top: 0;
  margin-bottom: 40px;
  color: var(--dark-grayish-violet);
}
.complete .complete-content button {
  font-family: "Space Grotesk", monospace;
  font-size: 18px;
  width: 100%;
  background-color: var(--very-dark-violet);
  color: white;
  padding: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .page {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 380px auto);
    grid-template-areas:
      "card"
      "form";
  }

  .card-container {
    grid-area: card;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .card-container .background {
    grid-row: 1 / 6;
    height: 100%;
    background: url(../images/bg-main-mobile.png) no-repeat;
    background-size: cover;
  }

  .card-container .card-front {
    grid-column: 1 / 2;
    grid-row: 4 / 7;
  }
  .card-container .card-front .card-front-content {
    bottom: 0;
    left: 5%;
    height: 100%;
  }
  .card-container .card-front .card-front-content img {
    height: 100%;
  }
  .card-container .card-front .card-style {
    padding: 0 30px 30px 20px;
    gap: 10px;
  }
  .card-container .card-front #circle-1 {
    height: 30px;
    width: 30px;
  }
  .card-container .card-front #circle-2 {
    height: 10px;
    width: 10px;
  }
  .card-container .card-front .card-number {
    font-size: 26px;
  }
  .card-container .card-front .card-info span {
    font-size: 12px;
  }

  .card-container .card-back {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
  }
  .card-container .card-back .card-back-content {
    top: 0;
    right: 5%;
    height: 100%;
  }
  .card-container .card-back .card-back-content img {
    height: 100%;
  }
  .card-container .card-back .card-back-content p {
    top: 73px;
    right: 40px;
    font-size: 12px;
  }

  /* .form-section {
    margin-top: 30px;
  } */
  .form-section form {
    margin: 0;
    padding: 20px;
    width: 100%;
  }
  .form-section label {
    font-size: 14px;
  }
  
  /* .complete {
    margin-top: 70px;
  } */
  .complete .complete-content {
    margin: 0;
    padding: 20px;
    width: 100%;
  }
}
